<div class="body_cover">
  <div class="myshineindex">
    <%= @user.name %>
    <%= @topic.title %>
    <%= link_to "一覧へ", user_path(@user), class: "btn btn-warning" %>
    <% if current_user == @user %>
      <%= link_to "画像を投稿", new_myshine_path(topic_id: @topic.id), class: "btn btn-warning" %> <%= paginate @myshines %>
    <% else %>
      <h3><%= link_to "戻る", users_path, class: "btn btn-default" %></h3>
    <% end %>
    <div class="post">
      <%= render "myshines/myshine", myshines: @myshines %>
    </div>
  </div>
</div>