  <div class="myshineindex">
    <h1><%= @user.name %>shine</h1>
      <% unless current_user == @user %><%= link_to "othershineへ", users_path, class: "btn btn-default" %><% end %>
      
      <div class="col-xs-12">
        <div class="user_show_topic_post">
          
          <% if current_user == @user %>
            <%= form_for(@topic) do |f| %>
            <%= render 'layouts/error_messages', model: f.object %>
            <%= f.text_field :title, class: "form-control", placeholder: "タイトル入力"%>
            <%= f.submit "投稿", class: "btn btn-default" %>
            <% end %>
          <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="user_show_topic">
            <h2>タイトル一覧</h2>
            <% @topics.each do |topic| %>
              <h2><%= link_to topic.title, topic_path(topic, user_id: @user.id) %>
              <% if current_user == @user %>
                <%= link_to "削除", topic, method: :delete, class: "btn btn-danger btn-xs" %></h2>
              <% end %>
            <% end %>
          </div>
        </div>
       </div>   
       
</div>
  
