<% if logged_in? %>
  <div class="body_cover">
    <div class="toppage">
      <div class="main">
        <%= link_to user_path(current_user) do %>
          <div class="shine"><%= image_tag ("myshine.png") %></div>
        <% end %>
        <%= link_to chats_path do %>
          <div class="word"><%= image_tag ("keiziban.png") %></div>
        <% end %>
        <%= link_to ranking_path do %>
          <div class="ranking"><%= image_tag ("rannking.png") %></div>
        <% end %>
        <%= link_to users_path do %>
          <div class="othershine"><%= image_tag ("othersihne.png") %></div>
          <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="body_cover">
    <div class="toppage_left pc">
      <div class="maintitle"><p>shine</p></div>
      <div class="sabtitle"><p>〜最大の努力は何色にも変化することができる〜</p></div>
      <div class="toppage_button">
        <div class="word"><p><%= link_to "新規登録", signup_path %></p></div>
        <div class="shine"><p><%= link_to "ログイン", login_path %></p></div>
      </div>
    </div>
    <div class=" pc toppage_right owl-carousel owl-theme">
        
        <%= image_tag "carsele9.png" %>
        <%= image_tag "carsele_setumei.png" %>
        <%= image_tag "carsele.png" %>
        <%= image_tag "carsele2.png" %>
        <%= image_tag "carsele3.png" %>
        <%= image_tag "carsele4.png" %>
        <%= image_tag "carsele_setumei2.png" %>
        <%= image_tag "carsele5.png" %>
        <%= image_tag "carsele6.png" %>
         <%= image_tag "carsele_setumei3.png" %>
        <%= image_tag "carsele7.png" %>
        <%= image_tag "carsele8.png" %>
        <%= image_tag "carsele0.png" %>
    </div>
    <div class="toppage_right owl-carousel owl-theme sp">
        
        <%= image_tag "sp_carsele9.png" %>
        <%= image_tag "sp_carsele_setumei.png" %>
        <%= image_tag "sp_carsele.png" %>
        <%= image_tag "sp_carsele2.png" %>
        <%= image_tag "sp_carsele3.png" %>
        <%= image_tag "sp_carsele4.png" %>
        <%= image_tag "sp_carsele_setumei3.png" %>
        <%= image_tag "sp_carsele5.png" %>
        <%= image_tag "sp_carsele6.png" %>
        <%= image_tag "sp_carsele_setumei2.png" %>
        <%= image_tag "sp_carsele7.png" %>
        <%= image_tag "sp_carsele8.png" %>
        <%= image_tag "sp_carsele0.png" %>
    </div>
  </div>
   <!--     <p>あなたの秘密をこっそり<br>残そう！恥ずかしい日々の<br>自分の記録を自分専用のページ(Myshine)に残こそう!!</p>-->
   <!--   </div>-->
   <!-- <div class="setumei2 animated">-->
   <!--   <p>掲示板機能があるので、<br>(自分で話し合うタイトルを作ることも可能)情報の交換や<br>アドバイスなどを聞くことが<br>可能に!!</p>-->
   <!-- </div>-->
   <!-- <div class="setumei3 animated">-->
   <!--   <p>アカウントを公開設定<br>にしているユーザの<br>ページを(shine)見る<br>ことが可能に!!</p>-->
   <!-- </div>-->
   <!-- <div class="setumei4 animated">-->
   <!--   <p>ユーザのアクセスランキング機能があるので、<br>より参考になる画像を見ることが可能に!!</p>-->
   <!-- </div>-->
   <!--</div>-->
   <!--</div>-->
<% end %>