<div class="body_cover">
    <div class="myshinenew">
      <h1>画像投稿</h1>
        <div class="topic">
          <%= form_for(@myshine) do |f| %>
           <%= f.file_field :image, class: "shinepost" %>
           <%= f.hidden_field :topic_id %>
           <%= link_to "戻る", :back, class: "btn btn-warning" %><%= f.submit "投稿", class: "btn btn-warning" %>
           <% end %>
        </div>
    </div>
</div>

